html, body, ul, li {
	font-family: sans-serif, tahoma, Arial;
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background: #373737 url("/img/bg.png") 0 0 repeat;
}

#header {
	height: 58px;
}

#nav_menu {
	text-align: center;
	height: 100%;
}
#nav_menu li {
	display: inline-block;
	height: 100%;
}
#nav_menu a {
	display: block;
	height: 100%;
	padding: 25px 30px 0 30px;
	font-size: 16pt;
	color: white;
	text-decoration: none;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#nav_menu a:hover {
	background-color: black;
}

#line {
	background-image: url(/img/str.png);
	height: 16px;
	width: 100%;
	position: absolute;
	top: 6px;
	left: 0;
}

#container {
	text-align: left;
	position: relative;
	display: inline-block;
}

#content {
	width: 1170px;
	min-height: 700px;
	margin: 20px 0 20px 45px;
	background-color: white;
	padding-top: 10px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	
	box-shadow: -3px 3px 5px -1px #222;
	-moz-box-shadow: -3px 3px 5px -1px #222;
	-webkit-box-shadow: -3px 3px 5px -1px #222;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
}

#panel {
	margin-top: 50px;
}
#panel li {
	cursor: pointer;
	list-style: none;
	height: 61px;
	margin: 5px 0;
	background-color: #999999;
	background-repeat: no-repeat;
	
	border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-bottom-left-radius: 8px;
	
	box-shadow: inset -3px 0 5px -1px #797979;
	-moz-box-shadow: inset -3px 0 5px -1px #797979;
	-webkit-box-shadow: inset -3px 0 5px -1px #797979;
}
#panel li:hover {
	background-color: #a5a5a5
}

#panel .b_note {
	background-color: #fac632;
	background-image: url(/img/icon_list.png);
	background-position: 12px 35px;
	height: 91px;
	
	box-shadow: inset -3px 0 5px -1px #e2a31e;
	-moz-box-shadow: inset -3px 0 5px -1px #e2a31e;
	-webkit-box-shadow: inset -3px 0 5px -1px #e2a31e;
}
#panel .b_note:hover {
	background-color: #ffce41;
}

#panel .b_add_dir {
	background-color: #aade31;
	background-image: url(/img/icon_plus.png);
	background-position: 12px 33px;
	height: 91px;
	
	box-shadow: inset -3px 0 5px -1px #95c12a;
	-moz-box-shadow: inset -3px 0 5px -1px #95c12a;
	-webkit-box-shadow: inset -3px 0 5px -1px #95c12a;
}
#panel .b_add_dir:hover {
	background-color: #b1e833;
}

#panel .b_add_note {
	background-color: #32acef;
	background-image: url(/img/icon_plus.png);
	background-position: 12px 33px; 
	height: 91px;
	margin-bottom: 25px;
	
	box-shadow: inset -3px 0 5px -1px #1b86c6;
	-moz-box-shadow: inset -3px 0 5px -1px #1b86c6;
	-webkit-box-shadow: inset -3px 0 5px -1px #1b86c6;
}
#panel .b_add_note:hover {
	background-color: #35b8ff;
}

#panel .b_edit_title {
	background-image: url(/img/icon_pencil.png); 
	background-position: 12px 19px;
}
#panel .b_copy {
	background-image: url(/img/icon_copy.png);
	background-position: 8px 16px;
}
#panel .b_cut {
	background-image: url(/img/icon_cut.png);
	background-position: 12px 13px;
}
#panel .b_paste {
	background-image: url(/img/icon_paste.png);
	background-position: 11px 15px;
}
#panel .b_delete {
	background-image: url(/img/icon_bucket.png);
	background-color: #f0311e;
	background-position: 14px 17px;
	margin-top: 25px;
	
	box-shadow: inset -3px 0 5px -1px #9e0903;
	-moz-box-shadow: inset -3px 0 5px -1px #9e0903;
	-webkit-box-shadow: inset -3px 0 5px -1px #9e0903;
}
#panel .b_delete:hover {
	background-color: #ff3320;
}

#title_begin {
	padding-left: 38px;
	height: 36px;
	background-image: url(/img/dir_fon_left.png);
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	top: 13px;
	left: 75px;
}
#title_end {
	width: 38px;
	height: 36px;
	background-image: url(/img/dir_fon_right.png);
	display: inline-block;
	margin-left: -38px;
}
#dir_title {
	background-image: url(/img/dir_fon_center.png);
	height: 36px;
	font-size: 16pt;
	color: #2c3f08;
	text-shadow: 1px 1px #ddf4be;
	margin: 0;
	padding-top: 6px;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	max-width: 1050px;
	margin-right: 38px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
}

.breadcrumb {
	min-height: 25px;
	margin: 30px 20px 0 20px;
	padding: 0 15px;
	border-top: 1px solid #f4f4f4;
	
	background-image: linear-gradient(bottom, rgb(237,237,237) 25%, rgb(244,244,244) 63%);
	background-image: -o-linear-gradient(bottom, rgb(237,237,237) 25%, rgb(244,244,244) 63%);
	background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 25%, rgb(244,244,244) 63%);
	background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 25%, rgb(244,244,244) 63%);
	background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 25%, rgb(244,244,244) 63%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(237,237,237)),
		color-stop(0.63, rgb(244,244,244))
	);
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	box-shadow: inset 0 1px rgb(255,255,255);
	-moz-box-shadow: inset 0 1px rgb(255,255,255);
	-webkit-box-shadow: inset 0 1px rgb(255,255,255);
}
.breadcrumb li {
	display: inline-block;
	font-size: 10pt;
	color: #333;
	padding-top: 5px;
}
.breadcrumb a {
	text-decoration: none;
	color: #0e90d2;
}
.breadcrumb a:hover {
	text-decoration: underline;
}

.divider {
	padding: 0 5px;
}

.table_container {
	position: relative;
	padding: 0 20px 20px 20px;
}
#explorer {
	width: 100%;
	border-bottom: 1px solid #cfd0d2;
}
#explorer li {
	height: 40px;
	border-top: 1px solid #cfd0d2;
	cursor: pointer;
	position: relative;
	list-style: none;
	background: url("../img/row_bg.png") 0 0 repeat;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#explorer li:hover {
	background-color: #fafafa;
}
#explorer .row_title {
	padding-left: 40px;
	padding-right: 46px;
}
#explorer .row_title p {
	margin: 0;
	font-size: 11pt;
	line-height: 40px;
	max-width: 100%;
	overflow: hidden;
	height: 40px;
	white-space: nowrap;
}
#explorer .dir_row p {
	font-weight: bold;
}

#explorer li.opened {
	height: auto;
}

#explorer .row_title .h p {
	white-space: normal;
}

.dragable {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	background-image: url(/img/drag.png);
	background-position: 10px 11px;
	background-repeat: no-repeat;
	cursor: move;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.dragable:hover {
	/*background-position: 0px 4px;
	border-right: 1px solid #cfd0d2;
	border-left: 1px solid #cfd0d2;*/
}
.ui-state-highlight {
	height: 50px;
}
.ui-sortable-helper {
	border-bottom: 1px solid #cfd0d2;
}

.sel_check {
	position: absolute;
	top: 8px;
	right: 11px;
	width: 26px;
	height: 26px;
	background-image: url(/img/checkbox.png);
}
.sel_check:hover {
	background-position: 0 52px;
}
.checked {
	background-position: 0 26px;
}
.checked:hover {
	background-position: 0 26px;
}

#blocks, #tab_add_note, #tab_add_dir, #json_block {
	display: none;
}

#mce, #mce2 {
	width: 100%;
}

fieldset {
  border: none;
  margin: 0 15px;
}

.h {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0;
	border-top: 1px solid gray;
	cursor: default;
	display: none;
	word-wrap: break-word;
}
#explorer .row_title .h p {
	line-height: normal;
}

#explorer tr.opened {
	background-color: white;
}

#panel .b_edit_title, #panel .b_copy, #panel .b_cut, #panel .b_paste, #panel .b_delete {
	margin-left: 45px;
}


#customModal {
	display: none;
}

#mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
}


.modal {
	width: 300px;
	height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	text-align: left;
}
.modal-header {
	height: 30px;
	background: url("/img/bg.png") 0 0 repeat;
}
.modal-header h3 {
	color: white;
	display: inline-block;
	padding: 6px 30px 5px 10px;
}
.modal-header .close {
	position: absolute;
	top: 2px;
	right: 5px;
}
.modal-body {
	height: 100px;
	border: 1px solid black;
	border-top: none;
	border-bottom: none;
	background-color: white;
	overflow-y: auto;
	padding: 10px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.modal-footer {
	height: 50px;
	background-image: url(/img/row_bg.png);
  background-color: white;
	padding: 10px;
  border: 1px solid black;
	border-top: 1px solid #eee;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.modal-body p {
  font-size: 10pt;
}

#tab_add_dir, #tab_add_note {
	border-top: 1px solid #cfd0d2;
	margin: 0 20px;
}

.form-horizontal {
	background-image: url(/img/light_bg.png);
	min-height: 600px;
}

.form-horizontal legend {
	font-size: 14pt;
	padding: 20px 0;
}

.control-group p {
	padding: 20px 0 0 0;
	font-size: 10pt;
}

.input-large {
	width: 500px;
	height: 30px;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #f0f0f0;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	padding: 0 5px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	background-image: linear-gradient(bottom, rgb(255,255,255) 31%, rgb(232,232,232) 100%, rgb(255,255,255) 89%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 31%, rgb(232,232,232) 100%, rgb(255,255,255) 89%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 31%, rgb(232,232,232) 100%, rgb(255,255,255) 89%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 31%, rgb(232,232,232) 100%, rgb(255,255,255) 89%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 31%, rgb(232,232,232) 100%, rgb(255,255,255) 89%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.31, rgb(255,255,255)),
		color-stop(1, rgb(232,232,232)),
		color-stop(0.89, rgb(255,255,255))
	);
}
.input-large:focus {
	outline: none;
}

.controls {
	padding: 10px 0;
}

.form-actions {
	padding-top: 30px;
}

.btn {
	padding: 5px 10px;
	color: #505050;
	text-shadow: 0 1px #fff;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #888888;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	cursor: pointer;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	background-image: linear-gradient(bottom, rgb(223,223,223) 31%, rgb(247,247,247) 100%);
	background-image: -o-linear-gradient(bottom, rgb(223,223,223) 31%, rgb(247,247,247) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(223,223,223) 31%, rgb(247,247,247) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,223,223) 31%, rgb(247,247,247) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(223,223,223) 31%, rgb(247,247,247) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.31, rgb(223,223,223)),
		color-stop(1, rgb(247,247,247))
	);
	
	box-shadow: 0 3px 5px #aaa;
	-moz-box-shadow: 0 3px 5px #aaa;
	-webkit-box-shadow: 0 3px 5px #ddd;
}
.btn:hover {
	background-image: linear-gradient(bottom, rgb(223,223,223) 0%, rgb(247,247,247) 61%);
	background-image: -o-linear-gradient(bottom, rgb(223,223,223) 0%, rgb(247,247,247) 61%);
	background-image: -moz-linear-gradient(bottom, rgb(223,223,223) 0%, rgb(247,247,247) 61%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,223,223) 0%, rgb(247,247,247) 61%);
	background-image: -ms-linear-gradient(bottom, rgb(223,223,223) 0%, rgb(247,247,247) 61%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(223,223,223)),
		color-stop(0.61, rgb(247,247,247))
	);
}
.btn:active {
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #eee;
	
	background-image: linear-gradient(bottom, rgb(223,223,223) 100%, rgb(247,247,247) 0%);
	background-image: -o-linear-gradient(bottom, rgb(223,223,223) 100%, rgb(247,247,247) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(223,223,223) 100%, rgb(247,247,247) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(223,223,223) 100%, rgb(247,247,247) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(223,223,223) 100%, rgb(247,247,247) 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(223,223,223)),
		color-stop(0, rgb(247,247,247))
	);
	
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.title_str {
  margin-top: 20px;
  width: 262px;
}

h4 {
  font-size: 10pt;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

strong {
  font-weight: bold;
}